* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    background-color: #272727;
    background-image: url("../picture/font-main.png"); /* image de font menu */
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Montserrat", sans-serif;
    margin:0;
  }
  article {
    margin-top: 60%;
    margin-bottom: 10%;
    padding: 20px;
    position: bottom;
    color: #f6f4e6;
  }
  p {
    padding: 10px;
  }
  footer {
    background-color: #363636;
    color: #f6f4e6;
    padding: 50px;
    bottom: 0;
  }

  h1 {
    padding: 30px;
    text-align:center;;
  }

  #chalet {
    filter: drop-shadow(0 -6mm 5mm rgb(0, 0, 0));
    position: relative;
    max-height: 200px;
    padding: 10px;
  }

  #cave {
    filter: drop-shadow(0 -6mm 5mm rgb(0, 0, 0));
    position: relative;
    max-height: 200px;
    padding: 10px;
  }

  #infecté {
    filter: drop-shadow(0 -6mm 5mm rgb(0, 0, 0));
    position: relative;
    max-height: 200px;
    padding: 10px;
  }

  #conteneur {
    margin: auto;
    width: 1200px;
    -webkit-columns: 3 auto;
    -moz-columns: 3 auto;
    columns: 3 auto;
  }
  #conteneur p {
    text-align: center;
  }
  .zoom{
    transition: transform .2s;
  }
  .zoom:hover{
    transform: scale(1.05);
  }
  .top {
    position: fixed;
    padding: 10px;
    bottom: 0;
    right: 0;
    height: 75px;
  }
  .top:hover {
    filter: drop-shadow(0 -2mm 2mm #fddb3a);
  }


  .content {
    position: absolute;
    left: 360px;
    padding: 10px;
    text-align: center;
    width: 1200px;
    color: white;
    opacity: 0;
  }

  .partie1:hover .content {
    border-radius: 10% 10%;
    background-color: #363636;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.6s;
  }
  .partie2:hover .content {
    border-radius: 10% 10%;
    background-color: #363636;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.6s;
  }
  .partie3:hover .content {
    border-radius: 10% 10%;
    background-color: #363636;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.6s;
  }
  
  .formulaire{
    background-color: #363636;
    color: white;
    padding : 20px;
    text-align: center;
  }

  .textetitre{
    position: absolute;
    right: 450px;
    }
  .titre {
    font-size: 75px;
  }

  


  
  /* mise en place du menu*/
  .menuNav {
    position: absolute;
    top: 50%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  /* mise en place du texte de menu*/
  .menuNav a {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 150px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  
  .menuNav a:hover {
    color: #fddb3a; /* couleur hover text */
  }
  
  .menuNav .under {
    width: 50px;/* taille limité a 50px*/
    height: 50px;
    /* mise en place de l'image de hover*/
    background-image: url("../picture/logo.jpg");
    background-size: 50px 40px;
    background-repeat: no-repeat;
    /*mis en place fonctionement hover*/
    opacity: 0;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
   /* debut fonctionement hover pour chaque cas */
  .menuNav a:nth-child(1):hover ~ .under {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .menuNav a:nth-child(2):hover ~ .under {
    -webkit-transform: translateX(165px);
    transform: translateX(165px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .menuNav a:nth-child(3):hover ~ .under {
    -webkit-transform: translateX(330px);
    transform: translateX(330px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .menuNav a:nth-child(4):hover ~ .under {
    -webkit-transform: translateX(485px);
    transform: translateX(485px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  /* fin fonctionement hover pour chaque cas */
  
  